In [12]:
import pandas as pd

df = pd.read_csv('../data/Police_Sentiment_Scores.csv')

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7557 entries, 0 to 7556
Data columns (total 75 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   ORG_LEVEL                        7557 non-null   object
 1   CITY                             7557 non-null   object
 2   AREA                             7332 non-null   object
 3   DISTRICT                         6734 non-null   float64
 4   SECTOR                           5106 non-null   float64
 5   SAFETY                           7557 non-null   float64
 6   S_RACE_AFRICAN_AMERICAN          7557 non-null   float64
 7   S_RACE_ASIAN_AMERICAN            7557 non-null   float64
 8   S_RACE_HISPANIC                  7557 non-null   float64
 9   S_RACE_WHITE                     7557 non-null   float64
 10  S_RACE_OTHER                     7557 non-null   float64
 11  S_AGE_LOW                        7557 non-null   float64
 12  S_AGE_MEDIUM                     7557 non-null   float64
 13  S_AGE_HIGH                       7557 non-null   float64
 14  S_SEX_FEMALE                     7557 non-null   float64
 15  S_SEX_MALE                       7557 non-null   float64
 16  S_EDUCATION_LOW                  7104 non-null   float64
 17  S_EDUCATION_MEDIUM               7104 non-null   float64
 18  S_EDUCATION_HIGH                 7104 non-null   float64
 19  S_INCOME_LOW                     7104 non-null   float64
 20  S_INCOME_MEDIUM                  7104 non-null   float64
 21  S_INCOME_HIGH                    7104 non-null   float64
 22  TRUST                            7557 non-null   float64
 23  T_RACE_AFRICAN_AMERICAN          7557 non-null   float64
 24  T_RACE_ASIAN_AMERICAN            7557 non-null   float64
 25  T_RACE_HISPANIC                  7557 non-null   float64
 26  T_RACE_WHITE                     7557 non-null   float64
 27  T_RACE_OTHER                     7557 non-null   float64
 28  T_AGE_LOW                        7557 non-null   float64
 29  T_AGE_MEDIUM                     7557 non-null   float64
 30  T_AGE_HIGH                       7557 non-null   float64
 31  T_SEX_FEMALE                     7557 non-null   float64
 32  T_SEX_MALE                       7557 non-null   float64
 33  T_EDUCATION_LOW                  7104 non-null   float64
 34  T_EDUCATION_MEDIUM               7104 non-null   float64
 35  T_EDUCATION_HIGH                 7104 non-null   float64
 36  T_INCOME_LOW                     7104 non-null   float64
 37  T_INCOME_MEDIUM                  7104 non-null   float64
 38  T_INCOME_HIGH                    7104 non-null   float64
 39  T_LISTEN                         4171 non-null   float64
 40  T_LISTEN_RACE_AFRICAN_AMERICAN   4171 non-null   float64
 41  T_LISTEN_RACE_ASIAN_AMERICAN     4171 non-null   float64
 42  T_LISTEN_RACE_HISPANIC           4171 non-null   float64
 43  T_LISTEN_RACE_WHITE              4171 non-null   float64
 44  T_LISTEN_RACE_OTHER              4171 non-null   float64
 45  T_LISTEN_AGE_LOW                 4171 non-null   float64
 46  T_LISTEN_AGE_MEDIUM              4171 non-null   float64
 47  T_LISTEN_AGE_HIGH                4171 non-null   float64
 48  T_LISTEN_SEX_FEMALE              4171 non-null   float64
 49  T_LISTEN_SEX_MALE                4171 non-null   float64
 50  T_LISTEN_EDUCATION_LOW           4171 non-null   float64
 51  T_LISTEN_EDUCATION_MEDIUM        4171 non-null   float64
 52  T_LISTEN_EDUCATION_HIGH          4171 non-null   float64
 53  T_LISTEN_INCOME_LOW              4171 non-null   float64
 54  T_LISTEN_INCOME_MEDIUM           4171 non-null   float64
 55  T_LISTEN_INCOME_HIGH             4171 non-null   float64
 56  T_RESPECT                        4171 non-null   float64
 57  T_RESPECT_RACE_AFRICAN_AMERICAN  4171 non-null   float64
 58  T_RESPECT_RACE_ASIAN_AMERICAN    4171 non-null   float64
 59  T_RESPECT_RACE_HISPANIC          4171 non-null   float64
 60  T_RESPECT_RACE_WHITE             4171 non-null   float64
 61  T_RESPECT_RACE_OTHER             4171 non-null   float64
 62  T_RESPECT_AGE_LOW                4171 non-null   float64
 63  T_RESPECT_AGE_MEDIUM             4171 non-null   float64
 64  T_RESPECT_AGE_HIGH               4171 non-null   float64
 65  T_RESPECT_SEX_FEMALE             4171 non-null   float64
 66  T_RESPECT_SEX_MALE               4171 non-null   float64
 67  T_RESPECT_EDUCATION_LOW          4171 non-null   float64
 68  T_RESPECT_EDUCATION_MEDIUM       4171 non-null   float64
 69  T_RESPECT_EDUCATION_HIGH         4171 non-null   float64
 70  T_RESPECT_INCOME_LOW             4171 non-null   float64
 71  T_RESPECT_INCOME_MEDIUM          4171 non-null   float64
 72  T_RESPECT_INCOME_HIGH            4171 non-null   float64
 73  START_DATE                       7557 non-null   object
 74  END_DATE                         7557 non-null   object
dtypes: float64(70), object(5)
memory usage: 4.3+ MB

In [14]:
# list of column with some na values
df.columns[df.isna().any()]

Index(['AREA', 'DISTRICT', 'SECTOR', 'S_EDUCATION_LOW', 'S_EDUCATION_MEDIUM',
       'S_EDUCATION_HIGH', 'S_INCOME_LOW', 'S_INCOME_MEDIUM', 'S_INCOME_HIGH',
       'T_EDUCATION_LOW', 'T_EDUCATION_MEDIUM', 'T_EDUCATION_HIGH',
       'T_INCOME_LOW', 'T_INCOME_MEDIUM', 'T_INCOME_HIGH', 'T_LISTEN',
       'T_LISTEN_RACE_AFRICAN_AMERICAN', 'T_LISTEN_RACE_ASIAN_AMERICAN',
       'T_LISTEN_RACE_HISPANIC', 'T_LISTEN_RACE_WHITE', 'T_LISTEN_RACE_OTHER',
       'T_LISTEN_AGE_LOW', 'T_LISTEN_AGE_MEDIUM', 'T_LISTEN_AGE_HIGH',
       'T_LISTEN_SEX_FEMALE', 'T_LISTEN_SEX_MALE', 'T_LISTEN_EDUCATION_LOW',
       'T_LISTEN_EDUCATION_MEDIUM', 'T_LISTEN_EDUCATION_HIGH',
       'T_LISTEN_INCOME_LOW', 'T_LISTEN_INCOME_MEDIUM', 'T_LISTEN_INCOME_HIGH',
       'T_RESPECT', 'T_RESPECT_RACE_AFRICAN_AMERICAN',
       'T_RESPECT_RACE_ASIAN_AMERICAN', 'T_RESPECT_RACE_HISPANIC',
       'T_RESPECT_RACE_WHITE', 'T_RESPECT_RACE_OTHER', 'T_RESPECT_AGE_LOW',
       'T_RESPECT_AGE_MEDIUM', 'T_RESPECT_AGE_HIGH', 'T_RESPECT_SEX_FEMALE',
       'T_RESPECT_SEX_MALE', 'T_RESPECT_EDUCATION_LOW',
       'T_RESPECT_EDUCATION_MEDIUM', 'T_RESPECT_EDUCATION_HIGH',
       'T_RESPECT_INCOME_LOW', 'T_RESPECT_INCOME_MEDIUM',
       'T_RESPECT_INCOME_HIGH'],
      dtype='object')

In [15]:
df = df.fillna(pd.NA)

In [16]:
df.columns = df.columns.str.lower()

In [17]:
df["start_date"] = pd.to_datetime(df["start_date"])
df["end_date"] = pd.to_datetime(df["end_date"])

In [18]:
from typing import Optional
from sqlalchemy import String, DateTime, Integer, Float, Boolean
from sqlalchemy.orm import DeclarativeBase
from sqlalchemy.orm import Mapped
from sqlalchemy.orm import mapped_column
from datetime import datetime

In [19]:
class Base(DeclarativeBase):
    pass

class Crime(Base):
    __tablename__ = "police_sentiments"
    id: Mapped[int] = mapped_column(Integer, primary_key=True, autoincrement=True)
    org_level: Mapped[str] = mapped_column(String(255)) 
    city: Mapped[str] = mapped_column(String(255)) 
    area: Mapped[Optional[str]] = mapped_column(String(255)) 
    district: Mapped[Optional[int]] = mapped_column(Integer) 
    sector: Mapped[Optional[int]] = mapped_column(Integer) 
    safety: Mapped[float] = mapped_column(Float)
    s_race_african_american: Mapped[float] = mapped_column(Float)
    s_race_asian_american: Mapped[float] = mapped_column(Float)
    s_race_hispanic: Mapped[float] = mapped_column(Float)
    s_race_white: Mapped[float] = mapped_column(Float)
    s_race_other: Mapped[float] = mapped_column(Float)
    s_age_low: Mapped[float] = mapped_column(Float)
    s_age_medium: Mapped[float] = mapped_column(Float) 
    s_age_high: Mapped[float] = mapped_column(Float)
    s_sex_female: Mapped[float] = mapped_column(Float)
    s_sex_male: Mapped[float] = mapped_column(Float)
    s_education_low: Mapped[Optional[float]] = mapped_column(Float)    
    s_education_medium: Mapped[Optional[float]] = mapped_column(Float) 
    s_education_high: Mapped[Optional[float]] = mapped_column(Float) 
    s_income_low: Mapped[Optional[float]] = mapped_column(Float)
    s_income_medium: Mapped[Optional[float]] = mapped_column(Float)
    s_income_high: Mapped[Optional[float]] = mapped_column(Float) 
    trust: Mapped[float] = mapped_column(Float)
    t_race_african_american: Mapped[float] = mapped_column(Float)
    t_race_asian_american: Mapped[float] = mapped_column(Float)
    t_race_hispanic: Mapped[float] = mapped_column(Float)
    t_race_white: Mapped[float] = mapped_column(Float)
    t_race_other: Mapped[float] = mapped_column(Float)
    t_age_low: Mapped[float] = mapped_column(Float)
    t_age_medium: Mapped[float] = mapped_column(Float)
    t_age_high: Mapped[float] = mapped_column(Float)
    t_sex_female: Mapped[float] = mapped_column(Float)
    t_sex_male: Mapped[float] = mapped_column(Float)
    t_education_low: Mapped[Optional[float]] = mapped_column(Float) 
    t_education_medium: Mapped[Optional[float]] = mapped_column(Float) 
    t_education_high: Mapped[Optional[float]] = mapped_column(Float) 
    t_income_low: Mapped[Optional[float]] = mapped_column(Float) 
    t_income_medium: Mapped[Optional[float]] = mapped_column(Float)  
    t_income_high: Mapped[Optional[float]] = mapped_column(Float) 
    t_listen: Mapped[Optional[float]] = mapped_column(Float) 
    t_listen_race_african_american: Mapped[Optional[float]] = mapped_column(Float) 
    t_listen_race_asian_american: Mapped[Optional[float]] = mapped_column(Float) 
    t_listen_race_hispanic: Mapped[Optional[float]] = mapped_column(Float) 
    t_listen_race_white: Mapped[Optional[float]] = mapped_column(Float) 
    t_listen_race_other: Mapped[Optional[float]] = mapped_column(Float) 
    t_listen_age_low: Mapped[Optional[float]] = mapped_column(Float) 
    t_listen_age_medium: Mapped[Optional[float]] = mapped_column(Float) 
    t_listen_age_high: Mapped[Optional[float]] = mapped_column(Float) 
    t_listen_sex_female: Mapped[Optional[float]] = mapped_column(Float) 
    t_listen_sex_male: Mapped[Optional[float]] = mapped_column(Float) 
    t_listen_education_low: Mapped[Optional[float]] = mapped_column(Float) 
    t_listen_education_medium: Mapped[Optional[float]] = mapped_column(Float) 
    t_listen_education_high: Mapped[Optional[float]] = mapped_column(Float) 
    t_listen_income_low: Mapped[Optional[float]] = mapped_column(Float) 
    t_listen_income_medium: Mapped[Optional[float]] = mapped_column(Float) 
    t_listen_income_high: Mapped[Optional[float]] = mapped_column(Float) 
    t_respect: Mapped[Optional[float]] = mapped_column(Float) 
    t_respect_race_african_american: Mapped[Optional[float]] = mapped_column(Float) 
    t_respect_race_asian_american: Mapped[Optional[float]] = mapped_column(Float) 
    t_respect_race_hispanic: Mapped[Optional[float]] = mapped_column(Float) 
    t_respect_race_white: Mapped[Optional[float]] = mapped_column(Float) 
    t_respect_race_other: Mapped[Optional[float]] = mapped_column(Float) 
    t_respect_age_low: Mapped[Optional[float]] = mapped_column(Float) 
    t_respect_age_medium: Mapped[Optional[float]] = mapped_column(Float) 
    t_respect_age_high: Mapped[Optional[float]] = mapped_column(Float) 
    t_respect_sex_female: Mapped[Optional[float]] = mapped_column(Float) 
    t_respect_sex_male: Mapped[Optional[float]] = mapped_column(Float) 
    t_respect_education_low: Mapped[Optional[float]] = mapped_column(Float) 
    t_respect_education_medium: Mapped[Optional[float]] = mapped_column(Float) 
    t_respect_education_high: Mapped[Optional[float]] = mapped_column(Float) 
    t_respect_income_low: Mapped[Optional[float]] = mapped_column(Float) 
    t_respect_income_medium: Mapped[Optional[float]] = mapped_column(Float) 
    t_respect_income_high: Mapped[Optional[float]] = mapped_column(Float) 
    start_date: Mapped[datetime] = mapped_column(DateTime) 
    end_date: Mapped[datetime] = mapped_column(DateTime)

In [20]:
from sqlalchemy import create_engine

engine = create_engine("mysql+mysqlconnector://user:p4ssw0rd@localhost:3306/crimes")

def create_tables():
    Crime.metadata.create_all(engine)

In [21]:
create_tables()

In [22]:
from sqlalchemy.exc import SQLAlchemyError

# df.to_sql("crimes", con=engine, if_exists="append", index=False)
batch_size = 10000
for start in range(0, len(df), batch_size):
    end = start + batch_size
    batch = df.iloc[start:end]
    try:
        batch.to_sql("police_sentiments", con=engine, if_exists="append", index=False)
    except SQLAlchemyError as e:
        print(f"Error occurred: {e}")